// color
@colorPrimary: #3cb8b8;
@colorPrimaryActive: #139191;
@colorPrimaryDisabled: #6EDBDB;
@colorWarn: #E64340;

// link
@linkColorDefault: @colorPrimary;

// background
@bgColorDefault: #EFEFF4;
@bgColorActive: #ECECEC;

// line
@lineColorLight: #E5E5E5;
@lineColorDark: #BCBAB6;

// text
@textColorTitle: #353535;
@textColorTips: #B2B2B2;
@textColorWarn: @colorWarn;
@textColorGray: #999999;
